body {
  margin-top: 20px;
  padding: 0;
  background-color: #0D1117; /* Replace this with the desired background color */
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
  
.container {
  max-width: 600px; /* You can adjust the maximum width of the container */
  margin: 0 auto;
  padding: 20px;
}
  
img {
  display: block;
  max-width: 100%;
  height: auto;
}

p {
  color: #ffffff; /* Replace this with the desired text color */
  font-family: Consolas, monaco, monospace;
  font-size: 18px;
  line-height: 1.5;
  margin: 0;
  padding: 0;
  text-align: center;
}

h1 {
  color: #ffffff; /* Replace this with the desired text color */
  font-family: Consolas, monaco, monospace;
  font-size: 32px;
  line-height: 1.5;
  margin: 0;
  padding: 0;
  text-align: center;
}

div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.image-container {
  display: flex;
}

.image-container img {
  /* Optional: Add spacing between images */
  margin-right: 10px;
}
