body {
    margin: 0;
    padding: 0;
    background-color: #0D1117; /* Replace this with the desired background color */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .container {
    max-width: 600px; /* You can adjust the maximum width of the container */
    margin: 0 auto;
    padding: 20px;
  }
  
  img {
    display: block;
    max-width: 100%;
    height: auto;
  }
  